body {
    background-image: url("backgroundImage.jpg");

}

ul {
    list-style-type: none;
    background-color: #3333;
    position: relative;
    height: 46px;
    overflow: auto;
    overflow-x: hidden;
    overflow-style: auto;
}

li {
    float: left;
}

#home {
    vertical-align: top;
    height: 46px;
    width: 46px;

}

#motto {
    font-size: 15px;
    text-align: right;
    opacity: 0.5;

}

#aboutUsImg {
    width: 25%;
    position: absolute;
    right: 10%;
    top: 23%;

}

#aboutUsTitle {
    color: #333333;
    text-decoration: underline;
    text-align: center;
    font-family: Cambria;
}

#contactButton {

    background-color: sandybrown;
    width: 100px;
    height: 50px;
    color: #333333;
    border-radius: 50%;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: transparent;
    font-family: "Times New Roman";
    box-shadow: 0px 0px 20px 20px sandybrown;
    left: 10%;
    top: 59%;

}

#searchBar {
    background-color: white;
    opacity: 0.5;
    height: 40px;
    border: solid;
    border-color: transparent;
    border-width: 2px;
    text-align: left;
    font-size: large;

}

#searchButton {
    vertical-align: middle;
    padding: 13px;
    height: 20px;
    width: 20px;
}

#title {
    text-align: center;
    color: #333333;
    font-family: Cambria;

}

#subtitle {
    text-align: center;
    color: #333333;
}

#paragraphAlign {
    vertical-align: 30%;
}

p.aboutUsParagraph {
    text-indent: 30px;
    width: 50%;
    font-size: 20px;
    text-align: justify;
    line-height: 150%;
}

li.homeMenuButton a {
    display: block;
    horiz-align: left;

}

li.otherMenuButton a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.searchMenuButton a {
    display: block;
    horiz-align: left;
}

li.otherMenuButton a:hover {
    background-color: sandybrown;
    opacity: 0.5;

}

li.checkedButton {
    background-color: sandybrown;
    opacity:0.5;
}

li.searchMenuButton a:hover {
    background-color: grey;
    opacity: 0.5;
}
