body {
    background-image: url("backgroundImage.jpg");

}

ul {
    list-style-type: none;
    background-color: #3333;
    position: relative;
    height: 46px;
    overflow: auto;
    overflow-x: hidden;
    overflow-style: auto;
}

li {
    float: left;
}

#home {
    vertical-align: top;
    height: 46px;
    width: 46px;

}

#aboutUsParagraph {
    text-indent: 30px;
    width: 35%;
    font-size: 20px;
    text-align: justify;
}

#motto {
    font-size: 15px;
    text-align: right;
    vertical-align: bottom;

}

#aboutUsTitle {
    color: #333333;
    text-decoration: underline;
    text-align: center;
    font-family: Cambria;
}

#searchBar {
    background-color: white;
    opacity: 0.5;
    height: 40px;
    border: solid;
    border-color: transparent;
    border-width: 2px;
    text-align: left;
    font-size: large;

}

#searchButton {
    vertical-align: middle;
    padding: 13px;
    height: 20px;
    width: 20px;
}

#title {
    text-align: center;
    color: #333333;
    font-family: Cambria;

}

#subtitle {
    text-align: center;
    color: #333333;
}

li.homeMenuButton a {
    display: block;
    horiz-align: left;

}

li.otherMenuButton a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.searchMenuButton a {
    display: block;
    horiz-align: left;
}

li.otherMenuButton a:hover {
    background-color: sandybrown;

}

li.checkedButton {
    background-color: sandybrown;
}

li.searchMenuButton a:hover {
    background-color: grey;
}
